{{ 'icon-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .text-wrapper {
    display: flex;
    margin: 29.5px auto;
    justify-content: space-around;
  }
  .bar {
    background-color: {{ section.settings.bg_color }};
  }
{%- endstyle -%}

<div class="bar {%- if section.settings.full__page_width == false -%} {{ ' page-width' }} {%- endif -%}">
  <div class="text-wrapper page-width">
    <div class="icon-text">
      {% render 'icon-folder' %}
      <h3 class="inner-text">28 day returns</h3>
    </div>
    <div class="icon-text">
      {% render 'icon-shipping' %}
      <h3 class="inner-text">free delivery on orders over €40</h3>
    </div>
    <div class="icon-text">
      {% render 'icon-marker' %}
      <h3 class="inner-text">In Business Since 1977</h3>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon with Text",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#004289"
    },
    {
      "type": "checkbox",
      "id": "full__page_width",
      "label": "Full Page Width",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "icon-with-text"
    }
  ]
}
{% endschema %}
